body {
    padding-top: 80px;
    /* background-color: #FCF8E8; */
}

.navbar {
    box-shadow: black 1.5px 1.5px 7px;
    
}
.navbar-brand {
    text-align: center;

    font-size: 1.7rem;
    font-style: bold;
    padding: 0.5rem;
    /* border-color: black;
    border-bottom: 2px;
    border-style: solid; */
}

.headingsIndex {
    text-align: center;
}

.hoverLink:hover {
    border: inset #343a4047 5px;
    border-radius: 15px;   
}



.minHR {
    size: 2px;
    width: 65%;
}

.locationImage {
    /* attempting to style photos with bootstrap instead and so height and width below are commented out. */
    /* height: 25vh; */
    max-width: 80vw;

    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.location {
    font-size: 1.5rem;
    text-align: center;
    padding: 8px;
    /* background-color: blanchedalmond; */
    /* background-image: url(../images/textures/mochaGrunge.png); */
    /* box-shadow: black 0.75px 0.75px 7px; */
}
/* .pageDivider {
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    /* border-color: rgb(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.6em;
    margin-top: -1.6em;
    margin-bottom: 1.6em;
} */

/* #aboutBG {
    background-image: url(../images/textures/gettyimages-922876524-2048x2048.jpg);
    background-color: rgb(38, 38, 125);
} */
.contentBox {
    margin: 20px;
}

.copy {
    font-size: 14pt;
    padding: 20px;
}

.headings {
    padding: 20px;
}

.headshot {
    max-width: 80vw;
    height: auto;
    margin: 20px;
    border: 4px solid #343a40;
    border-radius: 5px;
    box-shadow: 2px 2px 20px;
    float: right;
}

.cntrptImg {
    max-width: 350px;
    height: auto;
    margin: 20px;
    border: 3px solid #343a40;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

#resourcesIMG {
    max-height: 40vh;
}
#contactImage {
    max-height: 50vh;
}

.map {
    width: 250; 
    height: 250;
            /* frameborder="0" 
            style="border:0"  */
    /* border:2px solid rgb(56, 56, 56)  */
}

.card {
    width: 80%;
}

footer{
    font-size: 12pt;
    color: white;
    padding: 15px;
    border-top: solid;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    background-color: #343a40;
}

@media (max-width: 281px) {
    .navbar-brand {
        font-size: 16px;
    }
    .headshot {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (min-width: 282px) and (max-width: 370px) {
    .navbar-brand {
        font-size: 20px;
    }
    .headshot {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (min-width: 371px) and (max-width: 767px){
    .headshot {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (min-width: 768px) and  (max-width: 991.98px) {
    header {
        font-size: 4rem;      
    }
    .copy {
        margin: 50px;
    }
    .headshot {
        max-width: 400px;
    }
    .map {
        width: 650;
        height: 400;
    }
}
@media (min-width: 992px) {
    header {
        font-size: 4rem;      
    }
    .headshot {
        max-width: 400px;
    }
    /* .copy {
        margin-left: 150px;
        margin-right: 150px;
    } */
    .map {
        width: 950;
        height: 600;
    }
}