body {
    padding-top: 80px;
}

.navbar {
    box-shadow: black 1.5px 1.5px 7px;
    
}
.navbar-brand {
    text-align: center;

    font-size: 1.7rem;
    font-style: bold;
    padding: 0.5rem;
    /* border-color: black;
    border-bottom: 2px;
    border-style: solid; */
}

/* .locationImageFrame {
    border: 2px solid black;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
} */

.locationImage {
    height: 25vh;
    max-width: 80vw;

    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.location {
    font-size: 1.5rem;
    text-align: center;
    padding: 8px;
    /* background-color: blanchedalmond; */
    /* background-image: url(../images/textures/mochaGrunge.png); */
    box-shadow: black 0.75px 0.75px 7px;
}

#aboutBG {
    /* background-image: url(../images/textures/gettyimages-922876524-2048x2048.jpg); */
    /* background-color: rgb(38, 38, 125); */
}

.copy {
    font-size: 14pt;
    padding: 20px;
}

footer{
    font-size: 12pt;
    padding: 15px;
    border-top: solid;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
}

@media (min-width: 768px) and  (max-width: 991.98px) {
    header {
        font-size: 4rem;
        
    }
}